    {% extends "ShopLileyaBundle::layout.html.twig" %}
{% block content %}
    {% for product in product %}
        <div class="storinka2"> 
    <a href="{{path('ShopLileyaBundle_product_show',{'id': product.id})}}">
        <img src="{{asset(['images/',product.image]|join)}}" alt=""/>
    {{product.title}}</a><br />

    <span> {{product.price}} грн.</span> &nbsp <button>Купити</button>
        </div> 
        {% else %}
            <p>Вибачте поки що немаэ продуктів </p>
            {% endfor %}     
    {% endblock %}