<html>
<head>
<meta http-equiv="Content-Type" content="text/html ; charset=utf-8"/>
{% block stylesheets %} 
    <link href="{{asset('css/style.css')}}" type="text/css" rel="stylesheet"/>
    {% endblock%}


<title>{% block title %}Интернет магазин спідньої білизни Біла Конвалія{% endblock %}</title>
</head>
<body>
 <div id = "wrapper">
    <div id = "header">
    {% block corf %}
    {% endblock %}
    
    </div>
    {% block menu %}
 {%endblock%}
       <div id = "content">
           {% block content%}
	   
                {% endblock%}	
	   </div>
	    <div id="clear">
 
                        </div>
    <div id ="footer"><p class="par">Copyright © 2014 Kseniya Kuzmenko</div>

</div>

</body>
</html>